@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap");

* {
  font-family: "Outfit", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mapLogo {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.arrowIcon {
  margin-left: 1rem;
  font-size: 1.5rem;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: solid 2px white;
  z-index: -1;
}

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero .content {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 40vh;
}

.content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: white;
}

.divider {
  padding: 3rem;
  text-align: center;
  background-color: black;
  height: 32rem;
  color: white;
  background-image: url("./assets/city2.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: solid 2px white;
}

.divider h1 {
  font-size: 2.5rem;
}

.divider p {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: white;
}

.vantaBg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
  position: relative;
}

.vantaWrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel-container {
  width: 70vw;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(#0b0e17, #1e213a, #0b0e17);
  border-radius: 0.5rem;
  margin-top: 5rem;
}

.swiper-slide {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 1;
  position: relative;
}

.swiper-slide p {
  color: white;
}

.slideImage {
  height: auto;
  width: 65%;
  margin-right: 3rem;
  border-radius: 8px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slideContent {
  margin-left: 2.5rem;
  font-size: 2rem;
  flex-grow: 1;
  color: black;
}

.navbar {
  background: linear-gradient(to right, #000000, #050f2c);
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 4rem;
}

.divider-image {
  height: 14rem;
  width: 14rem;
  border-radius: 25%;
  object-fit: cover;
  border: solid white 2px;
}

.image-wrapper .caption {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .caption {
    font-size: 0.8rem;
  }

  .image-container {
    flex-direction: column;
    gap: 1rem; /* Adjust the gap value as needed */
  }

  .divider {
    height: 80rem;
    border-bottom: solid 2px white;
  }
}

.googleMapContainer {
  display: flex;
  height: 100vh;
}

.inputContainer {
  width: 30%;
  padding: 1rem;
}

.googleMap {
  width: 70%;
  height: 100vh;
}

.mapContainer {
  width: 100%;
  height: 100vh;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  z-index: 1;
}

.form-container {
  width: 40%;
}

.card-list-container {
  height: 100vh;
  overflow-y: auto;
}

.addressInfo {
  display: flex;
  justify-content: space-between;
}

.addressIcon {
  font-size: 1.5rem;
}

#poiCard {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(210, 210, 210);
  width: 100%;
}

#poiCard:hover {
  background-color: rgb(164, 163, 163);
  cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
}

#addAddressBtn {
  margin-left: 10%;
}

/******* compare this css to the duplciate above *********/
.googleMapContainer {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.inputContainer {
  width: 30%;
  padding: 1rem;
  position: relative;
  color: white;
}

.vantaBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cardMedia {
  height: 21rem;
}

/* Mobile Responsiveness For Landing Page */
@media (max-width: 768px) {
  .swiper-slide {
    height: auto; /* Remove fixed height to allow content to expand */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideContent {
    margin-left: 0; /* Remove margin to align content to the left */
    font-size: 1rem; /* Adjust font size for better readability */
    margin-top: 1rem; /* Add some spacing between image and content */
  }

  .slideImage {
    width: 100%; /* Make images fill the entire width of the slide */
    height: auto;
    margin-right: 0; /* Remove the right margin for better spacing */
    margin-top: 4rem;
  }

  .carousel-container {
    width: 95%; /* Set the desired width (e.g., 90% of the screen width) */
    max-width: 1200px;
  }

  .googleMapContainer {
    flex-direction: column;
    height: 93vh;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    position: relative;
    color: white;
    margin-bottom: 0.5rem; /* Reduce the bottom margin for spacing */
    height: 40vh; /* Set a maximum height for the input container */
    overflow: auto;
  }

  .googleMap {
    width: 100%;
    height: 70vh; /* Set the map's height to take up 60% of the screen height */
  }

  .css-1ytz6dp {
    height: 0 !important;
    overflow: hidden !important;
  }

  .form-container {
    width: 95%;
    margin-top: 32rem;
  }

  .cardMedia {
    height: 10rem;
  }
}
