@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap");

* {
  font-family: "Outfit", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mapLogo {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.arrowIcon {
  margin-left: 1rem;
  font-size: 1.5rem;
}

#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hero .content {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 40vh;
  color: white;
}

.content h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: white;
}

.vantaBg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
  position: relative;
}

.carouselWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  display: block;
  justify-content: center;
  padding: 1rem;
}

.map {
  display: flex;
  justify-content: center;
}

.carousel-container {
  width: 70vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  display: block;
  justify-content: center;
  padding: 1rem;
  z-index: 1;
}

.swiper-slider {
  height: 40rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  z-index: 1;
  position: relative;
  opacity: 0.85;
}

.slideImage {
  height: 250px;
  width: 250px;
}

.slideContent {
  margin-left: 2.5rem;
  font-size: 2rem;
  flex-grow: 1;
}
